<h1>Glasgow Photo Walks</h1>

<p>Next event</p>
<p>00-00-0000</p>

<h2>Next Event</h2>
<p>[insert Google maps]<p>
<p>Book a spot</p>

<h3>Recent Uploads</h3>
<p>Glasgow Photo Walks values its community, and encourages participants of the photo walks to upload and share their photos. You can even suggest critique and receive friendly feedback. The goal of Glasgow Photo Walks, after all, is to become a better photographer in a fun environment.</p>

<h4>Summary</h4>
<p>Glasgow Photo Walks is a structured yet informal walk around the city of Glasgow, requiring just two essentials - a camera and tolerance of rain! The photo walk isn’t restricted to dSLRs, and any level of photographer using any tool – even an iPhone – is encouraged to join us. What will you photograph? Whatever you want! Landscapes, street photography, or even photos of people taking photos. Anything goes.</p>

<h4>Deets</h4>
<ul>
	<li>Time: 12.30pm</li>
	<li>Length: 1.5 hours</li>
	<li>Guide: Ashley Baxter</li>
	<li>Price: Mini Eggs</li>
</ul>

<h4>Tour Guide Bio</h4>
<p>Ashley Baxter, otherwise known as Girl With A Camera, loves both photography and Glasgow, thinking the city of Glasgow is a versatile and interesting setting to shoot. Ashley has photographed campaigns for clients ranging from Glasgow City Marketing Bureau, Young Scot and Citizens Theatre, as well as doing wedding photography in the summer months.</p>

