<% if current_photographer.present? %>
<div class="unit span-grid">
<%= form_for @photo, :html => {:multipart => true} do |f| %>
<%= f.hidden_field :photographer_id, :value => current_photographer.id %>
<fieldset>
  <%= f.file_field :image %>
</fieldset>
  <%= f.submit %>
<% end %>
</div>
<% end %>