/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input[type="submit"] {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
}

/* Ashley's Rockin' CSS */

@font-face {
  font-family: Franchise;
  src: url("/assets/fonts/Franchise.ttf");
}

@font-face {
  font-family: Inconsolata;
  src: url("/assets/fonts/Inconsolata.otf");
}

h1, h2, h3, h4, .book {
	font-family: Franchise;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom: 0.3em;
}

h2 { margin-bottom: 0 !important; }

img.unit.one-of-three {
	padding: 75px 25px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .7);
}

img.unit.one-of-three:hover {
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .8);
}

a:link, a:visited {
	color: #ec632f;
	text-decoration: none;
}

a:hover {
	color: #164f6a;
}

.button { 
	background-color: #164f6a; 
	padding: 10px; 
	font-family: Franchise; 
	color: #ffffff; 
	text-transform: uppercase;
	letter-spacing: 0.05em;
	width: 150px;
	margin-top: 0.3em;
	font-size: 20px;
}

.button a:link, .button a:visited { color: #ffffff; display: block;}
.button:hover { background-color: #ec632f; }

#flash_error, #flash_notice, #flash_alert, #flash_success {
	font-size: 20px;
	padding: 10px 0;
	color: #ec632f;
}

fieldset { border: none; padding: 10px; text-align: left; }
fieldset input {
        border: 1px solid #dddddd;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                        border-radius: 2px;
}
label { text-align: right; display: inline-block; width: 20%; margin-right: 3%; }
input { background-color: #f7f7f8; padding: 5px; width: 20%; }

.date { font-variant: small-caps; font-size: 22px; text-transform: uppercase; }

#map label { width: auto; display:inline; }
#map img { max-width: none; }

.outer-account-links { background: #2f2f2f;}
.account-links { padding: 10px 0 15px 0; text-align: right; color: #ffffff; }
.account-links a:link, .account-links a:visited { color: #ffffff; }
.account-links a:hover { color: #ec632f; }

header { padding: 35px 0; min-height: 500px;}
.header-outer { 
	background: url(glasgow.jpg)no-repeat center center fixed; 
 	-webkit-background-size: cover;
 		 -moz-background-size: cover;
 			 -o-background-size: cover;
 					background-size: cover;
 	padding-top: 15px;
 	margin-bottom: 15px;
}

.book {
	padding: 15px 15px 10px 15px;
	background-color: #ec632f;
	margin: 15px 0 35px 0;
	font-size: 40px;
	width: 190px;
	margin-top: -100px;
}

.book a:link, .book a:visited {
	color: white;
	display: block;
}

.book:hover {
	background-color: #164f6a;
	display: block;
}

.photographer-name {
	padding: 3px;
	bottom: 5px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .7);
	position: absolute;
	left: 0;
	bottom: 0;
}

.google-maps {
  position: relative;
  padding-bottom: 375px; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 70% !important;
}

.sidebar p, .sidebar ul {
	margin-bottom: 45px;
}

.form-button {
	background-color: #164f6a; 
	padding: 10px !important; 
	font-family: Franchise; 
	color: #ffffff; 
	text-transform: uppercase;
	letter-spacing: 0.05em;
	width: 150px;
	margin-top: 0.3em;
	font-size: 20px;
	margin-top: 1.5rem !important;
}

.form-button:hover {
	background-color: #ec632f;
}

.photo-grid li {
	display: inline;
}

.photo-grid a:link, .photo-grid a:visited {
	width: 150px;
}

img {
	position:relative;
}

.avatar {
	webkit-border-radius: 125px;
	border-radius: 125px;
	-moz-border-radius: 125px;
	position: absolute;
	z-index: 1;
	right: 0;
}

.profile {
 width: 65%;
}

footer {
	margin-top: 35px;
}